<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group17.settings">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity android:name=".activities.SettingsActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
    </application>

</manifest>