<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group17.home">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <activity
            android:name=".activities.HomeActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".activities.ConversationActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
    </application>

</manifest>